table{
  width:100%;
}

.moduleList{
  padding-left: 1%;
  padding-right: 1%;
  background-color: whitesmoke;
}

.tabla{
  padding-bottom: 15px;
}

.descriptionHover:hover{
  transform: scale(120%);
}

tr.filaModulo:not(.showStages):hover {
  filter: brightness(96%);
  cursor: pointer;
}

.isBlocked{
  background-color: silver;
}

.mat-row-is-clicked {
  background: rgb(174, 248, 190);
}

tr.hidden {
  height: 0;
}

.showStages{
  overflow: hidden;
}

.mat-column-NombreCol{
  text-align: center;
  color:black
}

.mat-column-NombreCol .mat-icon{
  padding-bottom: 34px;
}

.mat-column-TipoCol{
  text-align: center;
  color:black
}

.mat-column-DescriptionCol{
  text-align: center;
  color:black
}



.mat-icon {
  vertical-align: middle;
}