table{
  width:100%;
}

.moduleList{
  min-height: 100%;
  height: auto !important;
  padding: 1%;
  background-color: #b4a7d6;
}

.tabla{
  padding-bottom: 15px;
}

.descriptionHover:hover{
  transform: scale(120%);
}

tr.filaModulo:not(.showStages):hover {
  filter: brightness(80%);
  cursor: pointer;
}

.isBlocked{
  background-color: silver;
}

.mat-row-is-clicked {
  background: lightseagreen;
}

tr.hidden {
  height: 0;
}

.showStages{
  overflow: hidden;
}

.mat-column-NombreCol{
  text-align: center;
}

.mat-column-NombreCol .mat-icon{
  padding-bottom: 34px;
}

.mat-column-TipoCol{
  text-align: center;
}

.mat-column-DescriptionCol{
  text-align: center;
}



.mat-icon {
  vertical-align: middle;
}