<mat-card class="flow-display-card">
  <mat-grid-list cols="24" rowHeight="100px">
    <mat-grid-tile colspan="12">
      <mat-card-header>
        <mat-card-title *ngIf="flow">{{ "ADMIN.FLOWS.HEADER" | translate }}: {{flow.name}}</mat-card-title>
        <p> Link de Registro: {{ registerLink}} </p>
      </mat-card-header>
    </mat-grid-tile>
    <mat-grid-tile colspan="4"></mat-grid-tile>
    <mat-grid-tile colspan="8">
      <button mat-raised-button class="actionButton" color="primary" (click)="showFlowUpdateDialog()">{{ "BUTTONS.EDIT_FLOW" | translate }} <mat-icon>edit</mat-icon></button>
      <button mat-raised-button class="actionButton" color="warn" (click)="confirmFlowDelete(flow._id)">{{ "BUTTONS.DELETE_FLOW" | translate }} <mat-icon>delete</mat-icon></button>
    </mat-grid-tile>
  </mat-grid-list>
  <!-- Nuevo diseño de Tabs -->
  <mat-tab-group mat-align-tabs="end">

    <mat-tab >
      <ng-template mat-tab-label>
        <span (click)="reloadModules()"> {{'ADMIN.TABS.MODULES' | translate }} </span>
      </ng-template>
      <ng-template matTabContent>
        <div class="row col-md-12">
          <div class="col-md-4" *ngFor="let module of modules;">
            <br>
            <mat-card-header class="header-stage">
              <div class="  stages" >
                <mat-card-title class="Trivia">
                  <div class="col-md-8" style="padding-top: 3%;">
                    {{ "ADMIN.MODULES.NAME" | translate }}: {{module.name}}
                  </div>
                  <div class="buttons col-md-4">
                    <button mat-icon-button title="{{ 'BUTTONS.EDIT' | translate }} "><mat-icon>edit</mat-icon></button>
                    <button mat-icon-button (click)="confirmModuleDelete(module._id)" title="{{ 'BUTTONS.DELETE' | translate }}"> <mat-icon>delete</mat-icon></button>
                  </div>
                </mat-card-title>
              </div>
            </mat-card-header>
            <img mat-card-image *ngIf="module.image_url" [src]="module.image_url">
            <img mat-card-image *ngIf="!module.image_url" [src]="getCover(module.type)">
              <mat-card-content>
                <div class=" stages-content">
                  <div >
                    <mat-card-subtitle>{{ "ADMIN.MODULES.DESCRIPTION" | translate }}: {{ module.description }} </mat-card-subtitle>
                  </div>

                  <div>
                    <mat-icon>list</mat-icon><span class="aligned-with-icon">{{ "ADMIN.TABS.STAGES" | translate }}: </span>
                  </div>

                  <div *ngFor="let stage of module.stages;" style="margin-left: 10%;">
                    <mat-icon>fiber_manual_record</mat-icon><span class="aligned-with-icon">{{ "ADMIN.STAGES.TITLE" | translate }}: {{stage.title}}</span>
                  </div>


                  <div>
                    <mat-icon>add_task</mat-icon><span class="aligned-with-icon">{{ "ADMIN.STAGES.CREATED_AT" | translate }}: {{formatDate(module.createdAt)}}</span>
                  </div>

                  <div>
                    <mat-icon>updated</mat-icon><span class="aligned-with-icon">{{ "ADMIN.STAGES.UPDATED_AT" | translate }}: {{formatDate(module.updatedAt)}}</span>
                  </div>

                </div>
              </mat-card-content>
          </div>
        </div>
      </ng-template>
    </mat-tab>

    <mat-tab label="{{'ADMIN.TABS.CREATE_MODULE' | translate }}">
      <ng-template matTabContent>
        <app-module-creation [flow]="flow._id"> </app-module-creation>
      </ng-template>
    </mat-tab>


    <mat-tab >
      <ng-template mat-tab-label>
        <span (click)="reloadStages()"> {{'ADMIN.TABS.STAGES' | translate }} </span>
      </ng-template>
      <ng-template matTabContent>
        <div class="row col-md-12">
          <div class="col-md-4" *ngFor="let stage of sortedStages;">
            <br>
            <mat-card-header class="header-stage">
              <div class="  stages" >
                <mat-card-title class="{{getClass(stage.active, stage.type)}}">
                  <div class="col-md-8" style="padding-top: 3%;">
                    {{ "ADMIN.STAGES.TITLE" | translate }}: {{stage.title}}
                  </div>
                  <div class="buttons col-md-4">
                    <button mat-icon-button (click)="showStageUpdateDialog(stage)" title="{{ 'BUTTONS.EDIT' | translate }} "><mat-icon>edit</mat-icon></button>
                    <button mat-icon-button (click)="confirmStageDelete(stage._id)" title="{{ 'BUTTONS.DELETE' | translate }}"> <mat-icon>delete</mat-icon></button>
                  </div>
                </mat-card-title>
              </div>
            </mat-card-header>
            <img mat-card-image *ngIf="stage.image_url" [src]="stage.image_url">
            <img mat-card-image *ngIf="!stage.image_url" [src]="getCover(stage.type)">
              <mat-card-content>
                <div class=" stages-content">
                  <div >
                    <mat-card-subtitle>{{ "ADMIN.STAGES.TYPE" | translate }}: {{ stage.type }} </mat-card-subtitle>
                  </div>

                  <div>
                    <mat-icon>format_list_numbered</mat-icon><span class="aligned-with-icon">{{ "ADMIN.STAGES.STEP" | translate }}: {{stage.step}}</span>

                  </div>

                  <div>
                    <mat-icon >link</mat-icon><span class="aligned-with-icon"><a href="{{goToStage(stage)}}" >{{ "ADMIN.STAGES.LINK" | translate }}: {{stage.externalName}}</a></span>
                  </div>

                  <div>
                    <mat-icon (click)="showStageUpdateDialog(stage)" style="cursor: pointer;">view_module</mat-icon><span class="aligned-with-icon">{{ "ADMIN.STAGES.MODULE" | translate }}: {{ stage.module.name }}</span>
                  </div>

                  <div>
                    <mat-icon>add_task</mat-icon><span class="aligned-with-icon">{{ "ADMIN.STAGES.CREATED_AT" | translate }}: {{formatDate(stage.createdAt)}}</span>
                  </div>

                  <div>
                    <mat-icon>updated</mat-icon><span class="aligned-with-icon">{{ "ADMIN.STAGES.UPDATED_AT" | translate }}: {{formatDate(stage.updatedAt)}}</span>
                  </div>

                </div>
              </mat-card-content>



          </div>
        </div>
      </ng-template>
    </mat-tab>

    <mat-tab label="{{'ADMIN.TABS.CREATE_STAGE' | translate }}">
      <ng-template matTabContent>
        <app-stage-creation [flow]="flow._id"> </app-stage-creation>
      </ng-template>
    </mat-tab>

    <mat-tab label="{{'ADMIN.TABS.PREVIEW' | translate }}">
      <ng-template matTabContent>
        <button mat-raised-button color="primary" (click)="this.resetFlowDummy()"> Reset User</button>
        <show-flow [studentId]="dummyUser._id"  [flow]="flow" *ngIf="mostrarFlujos"></show-flow> 
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</mat-card>

