
<div 
    class="margen"
    *ngFor="let stage of stagesByModule; let index = index;"
    fxFlex="23"
    fxFlex.md="30"
    fxFlex.sm="35"
>
    <!--
    <mat-card
        [ngClass]="{
            'trivia'    :   stage.type == 'Trivia',
            'video'     :   stage.type == 'Video',
            'adventure' :   stage.type == 'Adventure'
        }"

    -->

    <mat-card [class.z-depth]="!(stage.percentage == 100) && !(sorted && (stage.step <= accessStage ? false : true))"
              [class.bloqueado] = "(stage.percentage == 100) || (sorted && (stage.step <= accessStage ? false : true))"
              [class.completed] = "stage.percentage == 100"
              (click)="(stage.percentage == 100) || (sorted && (stage.step <= accessStage ? false : true)) ? false : goToStage(stage)">
        <mat-card-title
            #stageTitleId
            [title] = "stage.title"
            class = "stageTitle"
        >{{stage.title}}</mat-card-title>
        <mat-card-subtitle *ngIf="stage.type; else noTipo">{{stage.type | tipoEtapa}} - {{stage.step}}</mat-card-subtitle>
        <ng-template #noTipo>
            <mat-card-subtitle>{{ 'STAGE.TYPELESS' | translate }}</mat-card-subtitle>
        </ng-template>
        <mat-card-content>
            <!-- si etapa contiene link a una imagen -->
            <circle-progress
                *ngIf="!stage.image_url"
                [class.blackAndWhite]="sorted && (stage.step <= accessStage ? false : true)"
                showUnits = "true"
                titleFontSize = "40"
                unitsFontSize = "25"
                [percent] = "stage.percentage"
                [title] = "stage.percentage"
                [renderOnClick]="false"
                imageSrc= "{{ getIcon(stage.type) }}"
                imageWidth="80"
                imageHeight="80"
                [showImage]= "true"
                [responsive] = "true"
            ></circle-progress>
            <!-- en caso contrario -->
            <circle-progress
                *ngIf="stage.image_url"
                class="imagenEtapa"
                [class.blackAndWhite]="sorted && (stage.step <= accessStage ? false : true)"
                showUnits = "true"
                titleFontSize = "40"
                unitsFontSize = "25"
                [percent] = "stage.percentage"
                [title] = "stage.percentage"
                [renderOnClick]="false"
                [imageSrc]= "stage.image_url"
                imageWidth="100"
                imageHeight="100"
                [showImage]= "true"
                [responsive] = "true"
            ></circle-progress>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="center center">
            <button
                *ngIf="stage.percentage < 100; else completed"
                mat-raised-button color="primary"
                [disabled] = "(sorted && (stage.step <= accessStage ? false : true))"
            >{{ 'USER.INITIATE' | translate }}</button>

            <ng-template #completed>
                <h4>{{ 'USER.FINISHED' | translate }}</h4>
            </ng-template>

            <button
                *ngIf="user.role.name === 'admin'"
                mat-raised-button color="primary"
                (click)="addPercentage(stage)"
            >{{ 'USER.COMPLETE' | translate }}</button>
        </mat-card-actions>
    </mat-card>
</div>

