.contenedorEtapas{
  width: 100%;
}

.fondo {

  background: lightblue;
  display: flex;
  justify-content: center;

}

mat-card-title{
  height: 72px;
}

.centro{
  display: flex;
  align-items: flex-start;
}

.topBottomMargin{
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}


/*para revertir cambiar nombres a los tests respectivos. ej triviabutton.svg -> bg-test-trivia.svg
.trivia{
  background-image: url('../../../assets/stage-images/triviaIcon.svg');
  /* background by SVGBackgrounds.com 
}

.adventure{
  background-image: url('../../../assets/stage-images/SGIcon.svg');
  /* background by SVGBackgrounds.com 
}

.video{
  background-image: url('../../../assets/stage-images/videoIcon.svg');
  /* background by SVGBackgrounds.com 

}
*/

.mat-card-content{
  justify-content: center;
  display: flex;
}

.stageTitle{
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}