<mat-card class="contenedorEtapas">
    <mat-card class="fondo">
        <div class="row col-md-12 centro">
            <div 
                class="col-md-3 topBottomMargin" 
                *ngFor="let stage of stagesByModule; let index = index;"
                fxLayout="row"
                fxLayoutAlign="center center"
            >
                <!--
                <mat-card
                    [ngClass]="{
                        'trivia'    :   stage.type == 'Trivia',
                        'video'     :   stage.type == 'Video',
                        'adventure' :   stage.type == 'SG'
                    }"

                -->

                <mat-card
                    >
                    <mat-card-title
                        #stageTitleId
                        align="center"
                        [title] = "stage.title"
                        class = "stageTitle"
                    >{{stage.title}}</mat-card-title>
                    <mat-card-subtitle align="center">{{stage.type}} - {{stage.step}}</mat-card-subtitle>
                    <mat-card-content>
                        <circle-progress
                            showUnits = "true"
                            titleFontSize = "40"
                            unitsFontSize = "25"
                            [percent] = "stage.percentage"
                            [title] = "stage.percentage"
                            [class.blackAndWhite] = "stage.percentage < 100"
                            imageSrc= "{{ getIcon(stage.type) }}"
                            imageWidth="80"
                            imageHeight="80"
                            [showImage]= "true"
                            [responsive] = "true"
                        ></circle-progress>
                    </mat-card-content>
                    <mat-card-actions align="center">
                        <a href="{{goToStage(stage)}}">
                        <button
                            mat-raised-button color="primary"
                            [disabled] = "sorted && (stage.step <= accessStage ? false : true)"
                        >Iniciar!</button>
                        </a>
                        <button
                            mat-raised-button color="primary"
                            (click)="addPercentage(stage)"
                        >Completar</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </mat-card>
</mat-card>

