.mat-card-video{
  margin-left: 10%;
  margin-right: 10%;
}

.video{
  display: block;
  width: 100%;
}

.module-card {
  margin: 5% 10%;
}

.title-class{
  text-align: center;
}

mat-card-subtitle{
  font-size: larger;
  vertical-align: baseline;
  padding-top: 15px;
  padding-bottom: 5px;;
  border-bottom: 3px solid rgba(238,227,255,1) ;
}

.creationButton{
  background: #914dff;
}
.creationButton b{
  font-size: larger;
  padding-left: 5px;
  padding-right: 5px;
}

.options{
  text-align: right;
  padding-right: 5%;
  padding-left: 5%;
}
.options button{
  margin: 10px;
}
