
<mat-card class="flows-display-card">
	<!--div *ngIf="user.role.name == 'admin'">
    <app-search-bar></app-search-bar>
  </div-->
	<div class="banner">
	</div>
    <div class="row">
		<div class="lateralSelector col-md-3">
			<ul class="menu" id="lateralMenu">
				<li id="flujo" class="menuItem {{flujoActivo?'activeMenu':''}}" (click)="select('flujo')">Flujos</li>
				<li id="quiz" class="menuItem {{quizActivo?'activeMenu':''}}" (click)="select('quizes')">Quizes</li>

			</ul>
		</div>
		<div class="contenidoPrincipal col-md-9">
			<div class="flujosView" *ngIf="quizActivo">
				<app-quiz-mantainer-component></app-quiz-mantainer-component>
			</div>
			<div class="flujosView" *ngIf="flujoActivo">
				<div class="row">
					<div class="col-md-8 panel-title" style="padding-top: 10px">
						<mat-card-subtitle>{{ "ADMIN.SUBTITLE" | translate }}:</mat-card-subtitle>
					</div>
					<div class="col-md-4">
						<div class="options" >

					<button class="btn btn-primary creationButton" (click)="createFlow()">{{"" +"ADMIN.FLOWS.CREATE" | translate}} <b>+</b> </button>
					<!--
					{{"" +"ADMIN.FLOWS.CREATE" | translate}}
					<button mat-mini-fab color="primary" (click)="createFlow()">
					<mat-icon>add</mat-icon>
					</button>
					-->

						</div>
					</div>
				</div>
				<mat-tab-group class="flows-tab" (selectedTabChange)="onTabClick($event)">
					<mat-tab label="Todos"></mat-tab>
					<mat-tab label="Privados"></mat-tab>
					<mat-tab label="Públicos"></mat-tab>
					<mat-tab label="Clonados"></mat-tab>
					<mat-tab label="Colaboraciones"></mat-tab>
				</mat-tab-group>
				<div class="row">
					<div class="col-md-9" style="padding-top: 10px">
						<mat-card-subtitle *ngIf="noFlows">No hay flujos para mostrar en esta pestaña</mat-card-subtitle>
					</div>
				</div>
				<mat-card-content *ngIf="!noFlows">
					<mat-grid-list cols="12" [gutterSize]="'12px'">
						<mat-grid-tile class="flow-card"  (click)="clickedFlow(flow._id)" (mouseover)="fullFlow(flow)" (mouseout)="shortFlow(flow)" colspan="3" rowspan="4" *ngFor="let flow of flows; let index = index" >
							<mat-card style="padding-top: .5rem;">
									<div class="flows-title">
										<mat-icon *ngIf="flow.privacy; else flowPublic" style="font-size: 23px;" color="primary">lock_outlined</mat-icon>
										<ng-template #flowPublic> 
											<mat-icon style="color: #1fa510; font-size: 22px;" >lock_open_outlined</mat-icon>
										</ng-template>
										<mat-card-title style="font-size: 18px; margin-bottom: 0%; margin-left: 5%;">
											{{flow.name}}
										</mat-card-title>
									</div>
									<div *ngIf="indexTab == 4" class="user-info">
										<mat-icon style="color: gray; font-size: 17px;" mat-card-avatar>person</mat-icon>
										<mat-card-subtitle style="margin-bottom: 0%"> {{ flow.user.names + ' '+flow.user.last_names }}
										</mat-card-subtitle>  
									</div>

								<img mat-card-image *ngIf="flow.image_url" [src]="flow.image_url">
								<img mat-card-image *ngIf="!flow.image_url" [src]="getCover(index)">
								<mat-card-content>
									<div *ngIf="actualFlow==flow._id; else flowShortDescription">
										<p *ngIf="flow.description">{{flow.description}}</p>
									</div>
									<ng-template #flowShortDescription>
										<p *ngIf="flow.description">{{showShortDescription(flow.description)}}</p>
									</ng-template>
									<p *ngIf="!flow.description">{{ "ADMIN.FLOWS.NO_DESCRIPTION" | translate}}</p>
								</mat-card-content>
							</mat-card>
						</mat-grid-tile>
					</mat-grid-list>
				</mat-card-content>
			</div>
		</div>

	</div>


</mat-card>
