<mat-card class="flows-display-card">
  <!--div *ngIf="user.role.name == 'admin'">
    <app-search-bar></app-search-bar>
  </div-->
  <div class="banner"></div>
  <div class="row">
    <div class="lateralSelector col-md-2">
      <ul class="menu" id="lateralMenu">
        <li
          id="flujo"
          class="menuItem {{ flujoActivo ? 'activeMenu' : '' }}"
          (click)="select('flujo')"
        >
          Flujos
        </li>
        <li
          id="quiz"
          class="menuItem {{ quizActivo ? 'activeMenu' : '' }}"
          (click)="select('quizes')"
        >
          Quizes
        </li>
        <li
          id="video"
          class="menuItem {{ videoActivo ? 'activeMenu' : '' }}"
          (click)="select('videos')"
        >
          Videos
        </li>
        <li
          id="users"
          class="menuItem {{ usuariosActivo ? 'activeMenu' : '' }}"
          (click)="select('usuariosActivo')"
        >
          Crear Usuarios
        </li>
      </ul>
    </div>
    <div class="contenidoPrincipal col-md-10">
      <div class="flujosView" *ngIf="quizActivo">
        <app-quiz-mantainer-component></app-quiz-mantainer-component>
      </div>
      <div class="flujosView" *ngIf="videoActivo">
        <app-video-mantainer-component></app-video-mantainer-component>
      </div>
      <div class="flujosView" *ngIf="flujoActivo">
        <app-flows-card-display></app-flows-card-display>
      </div>
      <div class="flujosView" *ngIf="usuariosActivo">
        <app-user-creation-form> </app-user-creation-form>
      </div>
    </div>
  </div>
</mat-card>
