
<app-header></app-header>

<h1 >HOME!</h1>

<div *ngIf="estudios">
  <p>
  <select name="miselect" [(ngModel)]="estudioSeleccionado">
    <option [value]="item._id	" *ngFor="let item of estudios">{{item.name}}</option>
  </select>
  </p>
  {{estudioSeleccionado}}
</div>


<br>
<!-- http://159.65.100.191:3030/login_redirect/:email/:names/:study/:trainer_id/:api_key/:url -->
<a href="http://159.65.100.191:3030/login_redirect/email@admin.com/hola/{{estudioSeleccionado}}/12345678/{{apikey}}/http:--localhost:4200-home" >ir a estudio</a>

