<div class="header" role="banner">
  <!--Student Implementation-->
  <a class="title-span" *ngIf="isLoggedIn"
		#tooltip="matTooltip"
		[(matTooltip)]="homeTooltip"
		matTooltipPosition="right">
		NEURONE <mat-icon class="home">home</mat-icon>
	</a>

  <!-- para personas logeadas -->
	<a class="title-span" *ngIf="isLoggedIn"></a>
  <div class="spacer"></div>
  <button *ngIf="isLoggedIn" mat-button>	<mat-icon>help_outline</mat-icon> </button>
	<a class="name-span"  href="/user-profile" *ngIf="isLoggedIn">
    <img src="/assets/img_avatar.png" class="user-image">
  </a>
  <button (click)="logout()" mat-button *ngIf="isLoggedIn"><mat-icon>exit_to_app</mat-icon> {{"LOGOUT.LOGOUT" | translate}}</button>


</div>