<div class="header" role="banner">
  <!--Student Implementation-->
  <a class="title-span" *ngIf="isLoggedIn && user.role.name === 'user'"
		#tooltip="matTooltip"
		[(matTooltip)]="homeTooltip"
		matTooltipPosition="right">
		NEURONE <mat-icon class="home">home</mat-icon>    
	</a>

  <!--ADMIN Implementation-->
  <img class="image-span" #tooltip="matTooltip" [(matTooltip)]="homeTooltip" src="assets/images/tutelage-negativo.png" *ngIf="isLoggedIn && user.role.name === 'admin'" [routerLink]="['/admin_panel']"/>

  <!-- para personas logeadas -->
	<a class="title-span" *ngIf="isLoggedIn && user.role.name === 'user'"></a>
  <div class="spacer"></div>
	<a class="name-span"  href="/user-profile" *ngIf="isLoggedIn && user.role.name === 'user'">
    <img src="/assets/img_avatar.png" class="user-image">
  </a>
  <div class="button-panel" *ngIf="isLoggedIn && user.role.name === 'admin'">
    <button mat-button color="white" style="pointer-events:none">
      <mat-icon>account_circle</mat-icon>
      {{ user.names + ' ' +user.last_names }}
    </button>
  </div>
  <button *ngIf="isLoggedIn" mat-button>	<mat-icon>help_outline</mat-icon> </button>

  <button (click)="logout()" mat-button *ngIf="isLoggedIn"><mat-icon>exit_to_app</mat-icon> {{"LOGOUT.LOGOUT" | translate}}</button>


</div>