<mat-card class="study-display-card">
  <mat-grid-list cols="24" rowHeight="100px">
    <mat-grid-tile colspan="12">
      <mat-card-header>
        <mat-card-title *ngIf="study">{{ "ADMIN.STUDIES.HEADER" | translate }}: {{study.name}}</mat-card-title>
        <p> Link de Registro: {{ registerLink}} </p>
      </mat-card-header>
    </mat-grid-tile>
    <mat-grid-tile colspan="4"></mat-grid-tile>
    <mat-grid-tile colspan="8">
      <button mat-raised-button class="actionButton" color="primary" (click)="showStudyUpdateDialog()">{{ "BUTTONS.EDIT_STUDY" | translate }} <mat-icon>edit</mat-icon></button>
      <button mat-raised-button class="actionButton" color="warn" (click)="confirmStudyDelete(study._id)">{{ "BUTTONS.DELETE_STUDY" | translate }} <mat-icon>delete</mat-icon></button>
    </mat-grid-tile>
  </mat-grid-list>
  <!-- Nuevo diseño de Tabs -->
  <mat-tab-group mat-align-tabs="end">
    <mat-tab >
      <ng-template mat-tab-label>
        <span (click)="reloadStages()"> {{'ADMIN.TABS.STAGES' | translate }} </span>
      </ng-template>
      <ng-template matTabContent>
        <div class="row col-md-12">
          <div class="col-md-4" *ngFor="let stage of sortedStages; let index = index;">
            <br>
            <mat-card-header class="header-stage">
              <div class="  stages" >
                <mat-card-title class="{{getClass(stage.active, stage.type)}}">
                  <div class="col-md-8" style="padding-top: 3%;">
                    {{ "ADMIN.STAGES.TITLE" | translate }}: {{stage.title}}
                  </div>
                  <div class="buttons col-md-4">
                    <button mat-icon-button (click)="showStageUpdateDialog(stage)" title="{{ 'BUTTONS.EDIT' | translate }} "><mat-icon>edit</mat-icon></button>
                    <button mat-icon-button (click)="confirmStageDelete(stage._id)" title="{{ 'BUTTONS.DELETE' | translate }}"> <mat-icon>delete</mat-icon></button>
                  </div>
                </mat-card-title>
              </div>
            </mat-card-header>

              <mat-card-content>
                <div class=" stages-content">
                  <div >
                    <mat-card-subtitle>{{ "ADMIN.STAGES.TYPE" | translate }}: {{ stage.type }} </mat-card-subtitle>
                  </div>

                  <div>
                    <mat-icon>format_list_numbered</mat-icon><span class="aligned-with-icon">{{ "ADMIN.STAGES.STEP" | translate }}: {{stage.step}}</span>
                  </div>

                  <div>
                    <mat-icon >link</mat-icon><span class="aligned-with-icon"><a href="{{goToStage(stage)}}" >{{ "ADMIN.STAGES.LINK" | translate }}: {{stage.externalName}}</a></span>
                  </div>

                  <div>
                    <mat-icon>add_task</mat-icon><span class="aligned-with-icon">{{ "ADMIN.STAGES.CREATED_AT" | translate }}: {{formatDate(stage.createdAt)}}</span>
                  </div>

                  <div>
                    <mat-icon>updated</mat-icon><span class="aligned-with-icon">{{ "ADMIN.STAGES.UPDATED_AT" | translate }}: {{formatDate(stage.updatedAt)}}</span>
                  </div>

                </div>
              </mat-card-content>



          </div>
        </div>
      </ng-template>
    </mat-tab>

    <mat-tab label="{{'ADMIN.TABS.CREATE_STAGE' | translate }}">
      <ng-template matTabContent>
        <app-stage-creation [study]="study._id"> </app-stage-creation>
      </ng-template>
    </mat-tab>

    <mat-tab label="{{'ADMIN.TABS.PREVIEW' | translate }}">
      <ng-template matTabContent>
        <show-flow [studentId]="'611d29ff4338490677404a75'"  [studyId]="study._id"> </show-flow>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</mat-card>
