<div class="medalContainer"
     fxLayout="row"     
     fxLayoutAlign="space-between center">



    <div fxFlex="10">
        <mat-icon class="z-depth unlocked" 
             (click)="openMedalDialog(false, 'medal1' )"
        >
            workspace_premium
        </mat-icon>
    </div>

    <!-- <div fxFlex="10">
        <img class="z-depth" 
             src="./assets/medals/medalla2.svg" 
             alt="medalla"
             (click)="openMedalDialog(false, 'medal1' )">
    </div> -->

    <!-- <div *ngFor="let medalla of medals; let i = index">
        <img class="z-depth" 
             src="./assets/medals/medalla2.svg" 
             alt="medalla"
             (click)="openMedalDialog(medalla{{i+1}}Condicion, 'primeraMedalla' )">
    </div> -->


    <div fxFlex="10">
        <mat-icon class="z-depth" 
             [ngClass]="condicionMedallaB() ? 'locked' : 'unlocked'" 
             (click)="openMedalDialog(condicionMedallaB(), 'medal2')"
        >
            workspace_premium
        </mat-icon>
    </div>

    <div fxFlex="10">
        <mat-icon class="z-depth" 
             [ngClass]="condicionMedallaC() ? 'locked' : 'unlocked'"
             (click)="openMedalDialog(condicionMedallaC(), 'medal3' )"
        >
            workspace_premium
        </mat-icon>
    </div>

    <div fxFlex="10">
        <mat-icon class="z-depth" 
             [ngClass]="condicionMedallaD() ? 'locked' : 'unlocked'"
             (click)="openMedalDialog(condicionMedallaD(), 'medal4' )"
        >
             workspace_premium
        </mat-icon>
             
    </div>

    <div fxFlex="15">
        <mat-icon class="z-depth" 
             [ngClass]="condicionMedallaE() ? 'locked' : 'unlocked'"
             (click)="openMedalDialog(condicionMedallaE(), 'medal5' )"
        >
            emoji_events
        </mat-icon>
    </div>
</div>