<div class="row">
    <div class="col-md-6 quiz-view-title" style="padding-top: 10px">
        <mat-card-subtitle> Mantenedor de Quizes:</mat-card-subtitle>
    </div>
    <div class="col-md-6">
    <div class="options" >

    <button *ngIf="verQuizes" class="btn btn-primary creationButton" (click)="crearQuizToogle()" >CREAR QUIZ <b>+</b> </button>
    <button *ngIf="!verQuizes" class="btn btn-primary creationButton" (click)="crearQuizToogle()" >VOLVER </button>


      </div>
    </div>
    
</div>


<!-- CREAR QUIZZ -->
<mat-card-content *ngIf="!verQuizes">
    <form class="form-horizontal" >

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-sm-4" for="titleQuiz">Titulo Quiz*:</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="titleQuiz" placeholder="ingrese titulo">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-4" for="fileQuiz">Imagen*:</label>
                    <div class="col-sm-10">
                        <input type="file" 
                        class="form-control-file" 
                        id="fileQuiz" 
                        (change)="loadImageQuiz()"
                        >
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-4" for="descQuiz">Descripción Quiz:</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="descQuiz" placeholder="Ingresar Descripción">
                    </div>
                  </div>

                  <mat-form-field class="selectVideo" appearance="fill">
                    <mat-label>Seleccionar Video*:</mat-label>
                    <mat-select [(ngModel)]="videoSelected" name="video">
                      <mat-option *ngFor="let item of videos" [value]="item._id">
                        {{item.name}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-6">
              <label for="">Imagen Thumbnail*: </label>
              <div *ngIf="quizImage" class="col-md-9">
                <img [src]="quizImage" class="img-thumbnail">
              </div>
              <div *ngIf="!quizImage" class="col-md-9">
                <img src="/assets/quiz-images/noimage.png" class="img-thumbnail">
              </div>
                

            </div>


        </div>
        <div class="row preguntas pt-2 pb-2" >
        
        <div class="col-md-12">
          <div class="row pt-2 pb-2">
            <div class="col-md-8">
              <h4>Ejercicios Actuales: {{ejercicios.length}}</h4>
            </div>
            <div class="col-md-4 ">
              <button *ngIf="!showExercises" class="btn  btn-primary creationButton float-right" (click)="toggleExercise(true)">Crear Ejercicio:</button> 
            </div>
          </div>
                  <table *ngIf="ejercicios.length>0" class="table  tablaPreguntas">
                      <tr>
                        <th>No.</th>
                        <th>Titulo</th>
                        <th>Enunciado</th>
                        <th>No.Preguntas</th>
                        <th>Acciones</th>
                      </tr>
                      <tr *ngFor="let ex of ejercicios;index as i ">
                          <td>{{ex.exercise_id}}</td>
                          <td>{{ex.title}}</td>
                          <td>{{ex.introduction}}</td>
                          <td>{{ ex.questions.length }}</td>
                          <td> 
                            <button class="btn btn-warning" (click)="editExercise(i)" style="margin-right: 10px;">Editar</button> 
                            <button class="btn btn-danger" (click)="deleteExercise(i)">Eliminar</button>
                          </td>
    
                        </tr>
                  </table>
                  <div *ngIf="ejercicios.length>0" class="accionesQuiz col-md-12">
                    <button (click)="guardarQuiz()" class="btn btn-primary creationButton">Guardar Quiz</button>
                    <button (click)="cancelarQuiz()" class="btn btn-default">Cancelar</button>
                  </div>
            <p *ngIf="!(ejercicios.length>0)">Aún no has creado un ejercicio. </p>
            
            <div  *ngIf="showExercises" class="row">

              <!-- EJERCICIO PANEL -->
              <div class="col-md-6">
                  <div >
                    <div class="crearEjercicio">
                      <div class="form-group">
                          <label class="control-label " for="title">Titulo Ejercicio*:</label>
                            <input type="text" class="form-control" id="titleEx" 
                                   placeholder="ingrese titulo">
                            <p class="warning">Este campo es requerido</p>
                      </div>
                      <div class="form-group">
                        <label class="control-label" for="file">Recurso (Imagen):</label>
                        <div >
                          <div *ngIf="exerciseImage">
                            <img [src]="exerciseImage" class="img-thumbnail">
                          </div>
                          <div *ngIf="!exerciseImage">
                            <img src="/assets/quiz-images/noimage.png" class="img-thumbnail">
                          </div>
                        </div>
                        <input type="file" class="form-control-file" id="fileEx" (change)="loadImageExcersise()">
                      </div>
                      <div class="form-group">
                        <label class="control-label" for="desc">Descripción Ejercicio:</label>
                        <textarea class="form-control" id="descEx" placeholder="Ingresar Descripción"></textarea>
                        
                      </div>
                    </div>
                  </div>
              </div>

              <!-- PREGUNTAS -->
              <div class="col-md-6 ">
                  <h1 class="preguntaHeader">Agregar Preguntas al Ejercicio</h1>

                  <div class="preguntas2">
                    <mat-form-field appearance="fill">
                      <label>Tipo de Pregunta</label>
                      <mat-select [(ngModel)]="pregunta" name="pregunta">
                        <mat-option [value]="'text'">
                          Texto
                        </mat-option>
                        <mat-option [value]="'multy'">
                          Selección Multiple
                        </mat-option>
                        <mat-option [value]="'simple'">
                          Selección Simple
                        </mat-option>
                      </mat-select>
                  </mat-form-field>
                  
                  <!-- INGRESO DE PREGUNTAS POR TIPO -->
                  <div class="px-2">
                      <div class="form-group">
                        <label class="control-label" for="pregunta">Texto de la Pregunta:</label>
                        <input type="text" class="form-control-file" id="pregunta">
                      </div>
                      <div class="form-group">
                        <label class="control-label" for="file" >Imagen (Opcional):</label>
                        <div class="col-md-8">
                          <div *ngIf="questionImage">
                            <img [src]="questionImage" class="img-thumbnail">
                          </div>
                          <div *ngIf="!questionImage">
                            <img src="/assets/quiz-images/noimage.png" class="img-thumbnail">
                          </div>
                        </div>
                        <input type="file" class="form-control-file" id="file" (change)="questionImageChange()">
                      </div>
                      <!-- Preguntas de seleccion Multiple -->
                      <div *ngIf="pregunta=='multy' ||pregunta=='simple'" class="ingresarAlternativas">
                        <h4>Ingresar Alternativas</h4>
                        <div class="row">
                          <div class="col-md-6"> 
                            <div class="form-group" >
                              <label class="control-label" for="alternativa">Ingresar alternativas:</label>
                              <input type="text" class="form-control-file" id="alternativa">
                            </div>
                          </div>
                          <div class="col-md-6"> 
                            <div class="form-check" *ngIf="pregunta=='multy'">
                              <br>
                              <input type="checkbox" class="form-check-input" id="alternativaCorrecta">
                              <label class="form-check-label" for="alternativaCorrecta">Marcar si la opción es correcta</label>
                            </div>
                          </div>
                        </div>
                                           
                        <button class="btn btn-primary btn-block creationButton" (click)="addAlternative()">Añadir Alternativa</button>
  
                        <table *ngIf="alternatives.length>0" class="table  tablaPreguntas">
                          <tr>
                            <th>No.</th>
                            <th>Enunciado</th>
                            <th>Correcta?</th>
                            <th>Acciones</th>
                          </tr>
                          <tr *ngFor="let alternative of alternatives;index as i ">
                              <td>{{alternative.alternative_num}}</td>
                              <td>{{alternative.alternative_text}}</td>
                              <td>{{alternative.alternative_right? "Si": "No"}}</td>
                              <td> 
                                <button *ngIf="!alternative.alternative_right && pregunta=='simple'" 
                                  class="btn btn-success" 
                                  (click)="markCorrect(i)"
                                  style="margin-right:10px">Marcar como Correcta</button>
                                <button class="btn btn-danger" (click)="deleteAlternative(i)">Eliminar</button>
                              </td>
                            </tr>
                      </table>
                      </div>
  
                    
  
  
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="justificacion" (click)="setJustifique()">
                        <label class="form-check-label" for="justificacion">Solicitar justificacion</label>
  
                        <div *ngIf="justificacion">
                          <div class="form-group" >
                            <label class="control-label" for="justifique">Texto para solicitar la justificación:</label>
                            <input type="text" class="form-control-file" id="justifique">
                          </div>
                        </div>
                      </div>
  
                      <!-- ACCIONES -->
                      <div class="form-group">
                        <button class="btn btn-primary creationButton" (click)="guardarPregunta(pregunta)">Guardar</button>
                        <button class="btn btn-light" (click)="cleanForm()">Cancelar</button>
                      </div>
                  </div>
                  </div>

                  
                 
              </div>

              <div class="col-md-12">
                <h4>Preguntas Actuales: {{questions.length}}</h4> 
                <table *ngIf="questions.length>0" class="table  tablaPreguntas">
                    <tr>
                      <th>No.</th>
                      <th>Enunciado</th>
                      <th>Tipo</th>
                      <th>justifique</th>
                      <th>alternativas</th>
                      <th>Acciones</th>
                    </tr>
                    <tr *ngFor="let question of questions;index as i ">
                        <td>{{question.question_num}}</td>
                        <td>{{question.question}}</td>
                        <td>{{question.question_type==1?"Texto":question.question_type==2?"Seleccion Simple":"Seleccion Múltiple"}}</td>
                        <td>{{ question.bonus? question.bonus:'' }}</td>
                        <td>{{ question.alternatives? textAlternatives(question.alternatives):'' }}</td>
                        <td> 
                          <button class="btn btn-warning" (click)="editQuestion(i)" style="margin-right: 10px;">Editar</button> 
                          <button class="btn btn-danger" (click)="deleteQuestion(i)">Eliminar</button>
                        </td>
  
                      </tr>
                </table>
  
                <div class="accionesEjercicio">
                  <button (click)="crearEjercicio()" class="btn btn-primary creationButton">Guardar Ejercicio</button>
                  <button (click)="cancelarEjercicio()" class="btn btn-default">Cancelar</button>
                </div>
              </div>
          </div>
          </div>
        </div>

      </form>

</mat-card-content>

<!-- VER QUIZZES -->
<mat-card-content *ngIf=" verQuizes">
  <div *ngFor="let quiz of quizzes">
    <mat-card class="quizPreview">
        <div class="row">
            <div class="col-md-4 d-flex justify-content-center">
                <img [src]="quiz.resource_url?quiz.resource_url:'/assets/stage-images/03VideoQuiz.jpg'" class="img-fluid img-thumbnail">
            </div>
            <div class="col-md-8">
                <mat-card-header>Quiz: {{quiz.name}}</mat-card-header>
                <mat-card-content>
                    <p>Descripcion: {{quiz.description}}</p>
                    <p>No. de Ejercicios: {{nDeEjercicios(quiz)}}</p>
                    <p>Video Relacionado: <a style="color: blue; cursor: pointer" (click)="openVideoModal(quiz.video_id)">video</a></p>

                    <div class="card-footer card-footer-aux">

                          <button type="button" id="ver" class="btn btn-secondary" (click)="openQuizModal(quiz._id)">Ver</button>
                          <button type="button" class="btn btn-secondary" (click)="editQuiz(quiz)">Editar</button>
                          <button type="button" class="btn btn-secondary" (click)="confirmQuizDelete(quiz._id)">Borrar</button>

                    </div>
                </mat-card-content>
            </div>
        </div>

    </mat-card>
  </div>



</mat-card-content>

