<div class="row">
    <div class="col-md-8" style="padding-top: 10px">
        <mat-card-subtitle> Mantenedor de Quizes:</mat-card-subtitle>
    </div>
    <div class="col-md-4">
        <div class="options" >

    <button *ngIf="verQuizes" class="btn btn-primary creationButton" (click)="crearQuizToogle()" >CREAR QUIZ <b>+</b> </button>
    <button *ngIf="!verQuizes" class="btn btn-primary creationButton" (click)="crearQuizToogle()" >VOLVER </button>


        </div>
    </div>
</div>
<mat-card-content *ngIf="!verQuizes">
    <form class="form-horizontal" >

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-sm-4" for="title">Titulo Quiz:</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="title" placeholder="ingrese titulo">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-4" for="file">Titulo Quiz:</label>
                    <div class="col-sm-10">
                        <input type="file" class="form-control-file" id="file">
                    </div>
                  </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-sm-4" for="desc">Descripción Quiz:</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="desc" placeholder="Ingresar Descripción">
                    </div>
                  </div>

                  <mat-form-field class="selectVideo" appearance="fill">
                    <mat-label>Tipo de pregunta</mat-label>
                    <mat-select [(ngModel)]="video" name="video">
                      <mat-option [value]="'text'">
                        Video 1: Dos Oruguitas
                      </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>

        </div>
        <div class="row preguntas">

            <div class="col-md-3">
                <div class="infoBox1">
                    <h1>Ejercicios Actuales: 0</h1>
                    <button class="btn btn-block btn-light">Agregar <b>+</b></button>
                </div>
            </div>

            
            <div class="col-md-4">
                <div >
                    
                    <div class="form-group">
                        <label class="control-label " for="title">Titulo Ejercicio:</label>
                          <input type="text" class="form-control" id="title" placeholder="ingrese titulo">
                      </div>
                      <div class="form-group">
                        <label class="control-label" for="file">Recurso (Imagen):</label>
                        <input type="file" class="form-control-file" id="file">
                      </div>
                      <div class="form-group">
                        <label class="control-label" for="desc">Descripción Quiz:</label>
                        <textarea class="form-control" id="desc" placeholder="Ingresar Descripción"></textarea>
                        
                      </div>

                      <div class="form-group">
                        <label>Preguntas Aactuales:</label> 1
                        <table>
                            <tr>
                                <th>Preguntas Aactuales:</th>
                            </tr>
                            <tr>
                                <td>¿Cúal es el....?</td>
                            </tr>
                        </table>
                      </div>

                </div>

            </div>

            <div class="col-md-4 preguntas">
                <h1 class="preguntaHeader">Agregar Preguntas al Ejercicio</h1>
                <mat-form-field appearance="fill">
                    <mat-label>Tipo de pregunta</mat-label>
                    <mat-select [(ngModel)]="pregunta" name="pregunta">
                      <mat-option [value]="'text'">
                        Texto
                      </mat-option>
                      <mat-option [value]="'multy'">
                        Selección Multiple
                      </mat-option>
                      <mat-option [value]="'simple'">
                        Selección Simple
                      </mat-option>
                    </mat-select>
                </mat-form-field>
                
                <div *ngIf="pregunta=='text'">
                    Pregunta de texto
                </div>
                <div *ngIf="pregunta=='multy'">
                    Pregunta de multiple
                </div>
                <div *ngIf="pregunta=='simple'">
                    Pregunta de simple
                </div>

                  <div class="form-group">
                    <button class="btn btn-primary creationButton">Guardar</button>
                    <button class="btn btn-light">Cancelar</button>
                  </div>

            </div>

        </div>





      </form>

</mat-card-content>


<mat-card-content *ngIf="verQuizes">
  <div *ngFor="let quiz of quizzes">
    <mat-card class="quizPreview">
        <div class="row">
            <div class="col-md-4">
                <img src="/assets/stage-images/03VideoQuiz.jpg" class="img-fluid img-thumbnail">
            </div>
            <div class="col-md-8">
                <mat-card-header>Quiz: {{quiz.name}}</mat-card-header>
                <mat-card-content>
                    <p>Descripcion: {{quiz.description}}</p>
                    <p>No. de Ejercicios: {{nDeEjercicios(quiz)}}</p>
                    <p>Video Relacionado: <a style="color: blue; cursor: pointer" (click)="openVideoModal(quiz.video_id)">video</a></p>
                </mat-card-content>
            </div>
        </div>
        <div class="card-footer">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" id="ver" class="btn btn-secondary" (click)="openQuizModal(quiz._id)">Ver</button>
              <button type="button" class="btn btn-secondary">Editar</button>
              <button type="button" class="btn btn-secondary" (click)="confirmQuizDelete(quiz._id)">Borrar</button>
            </div>
        </div>
        <div>

    </div>
    </mat-card>
  </div>




</mat-card-content>

