<div [ngSwitch]="getMedalData().medalID">

    <div *ngSwitchCase="'primeraMedalla'"
        fxLayout="column">
        <div fxLayout="row"
             fxLayoutAlign="center center">
            <img fxFlex="70" src="./assets/medals/recompensa1.jpeg" alt="panel 1">
        </div>
        <br>
        <div fxLayout="row">
            <h1>{{ 'MEDAL.ACHIEVED._1' | translate }}</h1>
        </div>
    
    </div>


    <div *ngSwitchCase="'segundaMedalla'">

        <div *ngIf="!getMedalData().lockStatus; else medalla2bloqueada"
             fxLayout="column">
            <div fxLayout="row"
                 fxLayoutAlign="center center">
                <img *ngIf="getMedalData().storyId == 0" fxFlex="70" src="./assets/medals/mountainStory/recompensa2.png" alt="panel 2">
                <img *ngIf="getMedalData().storyId == 1" fxFlex="70" src="./assets/medals/deepSeaStory/recompensa2.jpg" alt="panel 2">
            </div>
            
            <br>
            <div fxLayout="column"
                 fxLayoutAlign="center center">             
                <h1>{{ 'MEDAL.ACHIEVED._2' | translate }}</h1>
                <br>
                <h3 *ngIf="getMedalData().storyId == 0">{{ 'MEDAL.REWARD.STORY_1._2' | translate }}</h3>
                <h3 *ngIf="getMedalData().storyId == 1">{{ 'MEDAL.REWARD.STORY_2._2' | translate }}</h3>
            </div>
        </div>
        
        <ng-template #medalla2bloqueada>
            <h1>{{ 'MEDAL.REQUIRED._2' | translate }}</h1>
        </ng-template>
    </div>


    <div *ngSwitchCase="'terceraMedalla'">

        <div *ngIf="!getMedalData().lockStatus; else medalla3bloqueada"
             fxLayout="column">
            <div fxLayout="row"
                 fxLayoutAlign="center center">
                <img *ngIf="getMedalData().storyId == 0" fxFlex="70" src="./assets/medals/mountainStory/recompensa3.jpg" alt="panel 3">
                <img *ngIf="getMedalData().storyId == 1" fxFlex="70" src="./assets/medals/deepSeaStory/recompensa3.jpg" alt="panel 3">
            </div>
            <br>

            <div fxLayout="column"
                 fxLayoutAlign="center center"> 
                <h1>{{ 'MEDAL.ACHIEVED._3' | translate }}</h1>
                <br>
                <h3 *ngIf="getMedalData().storyId == 0">{{ 'MEDAL.REWARD.STORY_1._3' | translate }}</h3>
                <h3 *ngIf="getMedalData().storyId == 1">{{ 'MEDAL.REWARD.STORY_2._3' | translate }}</h3>
            </div>
        </div>

        <ng-template #medalla3bloqueada>
            <h1>{{ 'MEDAL.REQUIRED._3' | translate }}</h1>
        </ng-template>
    </div>


    <div *ngSwitchCase="'cuartaMedalla'">
        <div *ngIf="!getMedalData().lockStatus; else medalla4bloqueada"
             fxLayout="column">

            <div fxLayout="row"
                 fxLayoutAlign="center center">
                <img *ngIf="getMedalData().storyId == 0" fxFlex="70" src="./assets/medals/mountainStory/recompensa4.jpg" alt="panel 4">
                <img *ngIf="getMedalData().storyId == 1" fxFlex="70" src="./assets/medals/deepSeaStory/recompensa4.jpg" alt="panel 4">
            </div>

            <br>

            <div fxLayout="column"
                 fxLayoutAlign="center center"> 
                <h1>{{ 'MEDAL.ACHIEVED._4' | translate }}</h1>
                <br>
                <h3 *ngIf="getMedalData().storyId == 0">{{ 'MEDAL.REWARD.STORY_1._4' | translate }}</h3>
                <h3 *ngIf="getMedalData().storyId == 1">{{ 'MEDAL.REWARD.STORY_2._4' | translate }}</h3>
            </div>
        </div>
        
        <ng-template #medalla4bloqueada>
            <h1>{{ 'MEDAL.REQUIRED._4' | translate }}</h1>
        </ng-template>
    </div>


    <div *ngSwitchCase="'quintaMedalla'">
        <div *ngIf="!getMedalData().lockStatus; else medalla5bloqueada"
             fxLayout="column">
            <div fxLayout="row"
                 fxLayoutAlign="center center">
                <img *ngIf="getMedalData().storyId == 0" fxFlex="70" src="./assets/medals/mountainStory/recompensa5.jpg" alt="panel 5">
                <img *ngIf="getMedalData().storyId == 1" fxFlex="70" src="./assets/medals/deepSeaStory/recompensa5.jpeg" alt="panel 5">
            </div>

            <br>

            <div fxLayout="column"
                 fxLayoutAlign="center center">
                <h1>{{ 'MEDAL.ACHIEVED._5' | translate }}</h1>
                <br>
                <h3 *ngIf="getMedalData().storyId == 0">{{ 'MEDAL.REWARD.STORY_1._5' | translate }}</h3>
                <h3 *ngIf="getMedalData().storyId == 1">{{ 'MEDAL.REWARD.STORY_2._5' | translate }}</h3>
            </div>
        </div>
        
        <ng-template #medalla5bloqueada>
            <h1>{{ 'MEDAL.REQUIRED._5' | translate }}</h1>
        </ng-template>
    </div>


    <div *ngSwitchDefault>
        <h3>{{ 'MEDAL.ERROR._1' | translate }}<br>{{ 'MEDAL.ERROR._2' | translate }}</h3>
    </div>
</div>
