<app-header></app-header>

<mat-card class="module-card">
  <mat-card-title>Modulo de Videos</mat-card-title>
  <div class="row ">

      <div class="col-sm-2">
        <mat-card class="section-card">
          <div id="main">
            <button type="button" class="button" (click)="showVideo()" mat-raised-button>{{"Video" | translate}}</button>
            <button type="button" class="button" (click)="showQuiz()" mat-raised-button>{{"Quiz" | translate}}</button>
          </div>
          <div>
            <p>Respuesta: {{status}}</p>
          </div>
        </mat-card>
      </div>


    <div class="col-sm-10">
      <mat-card class="section-card">
        <ng-template [ngIf]="quiz">
          <mat-card-title>Quiz {{idNumber}}</mat-card-title>
          <app-quiz [quizNumber]=idNumber (newItemEvent)="quizResponse($event)"></app-quiz>
        </ng-template>
        <ng-template [ngIf]="video">
          <mat-card-title>Video {{idNumber}}</mat-card-title>
          <app-video [videoNumber]=idNumber (newItemEvent)="videoResponse($event)"></app-video>
        </ng-template>
        <ng-template [ngIf]="!video && !quiz">
          <mat-card-title>Seleccionar modulo...</mat-card-title>
        </ng-template>
      </mat-card>
    </div>


  </div>
</mat-card>
