.button{
  width: 100%;
  border-radius: 15px;
  margin-bottom: 5px;
  margin-top: 5px;
}

#main {
  /*background-color: #d2d2d2;*/
  background-color: #fafafa;
  padding: 20px;
  border-radius: 15px;
  /*box-shadow: #00000012 0 0 5px 6px;*/
}

.module-card {
  margin: 5% 10%;
}

.section-card{
  margin: 1%;
}
.section-card-2{
  margin: 1%;
  background-color: #fafafa;
}
