<form id="hola">
  <div *ngFor="let my_quiz of quiz">
    <ng-template [ngIf]="my_quiz.QUIZ_ID == quizNumber">
      <ng-template [ngIf]="exerciseActual == 0">
        <h6>Instrucciones quiz: {{my_quiz.INSTRUCTIONS}}</h6>
        <p>Resource quiz: {{my_quiz.RESOURCE}}</p>
        <button (click)="increaseExercise(false)">Go!</button>
      </ng-template>
      <div *ngFor="let exercise of my_quiz.EXERCISES; let last_exercise = last; let first_exercise = first;">
        <ng-template [ngIf]="exercise.EXERCISE_ID == exerciseActual">
          <h6>Ejercicio {{exercise.EXERCISE_ID}}: {{exercise.INTRODUCTION}}</h6>
          <div class="quiz_questions" *ngFor="let question of exercise.QUESTIONS">
            <mat-card class="question-card">
              <h6>Pregunta {{question.QUESTION_NUM}}</h6>
              <ng-template [ngIf]="resourceExist(question.QUESTION_ID)">
                <img src="/assets/videoModule-images/{{question.QUESTION_ID}}.png">
              </ng-template>
              <p>{{question.QUESTION}}</p>


              <ng-template [ngIf]="question.QUESTION_TYPE == 1">
                  <textarea class="textarea-question answer" name="answer_{{question.QUESTION_ID}}"></textarea>
                  <div class="bonus-class" *ngIf="question.BONUS">
                    <p>{{question.BONUS}}</p>
                    <input class="input-text" type="text" name="answer_bonus{{question.QUESTION_ID}}">
                  </div>
              </ng-template>


              <ng-template [ngIf]="question.QUESTION_TYPE == 2">
                  <div class="alternatives-class" *ngFor="let alternative of question.ALTERNATIVES; let i = index">
                    <label><input class="answer" type="radio" id="answer_{{question.QUESTION_ID}}_alt_{{i}}" name="answer_{{question.QUESTION_ID}}" value="[{{i}}]{{alternative}}"> {{alternative}}</label>
                  </div>
                  <div class="bonus-class" *ngIf="question.BONUS">
                    <p>{{question.BONUS}}</p>
                    <input class="input-text" type="text" name="answer_bonus{{question.QUESTION_ID}}">
                  </div>
              </ng-template>


              <ng-template [ngIf]="question.QUESTION_TYPE == 3">
                  <div class="alternatives-class" *ngFor="let alternative of question.ALTERNATIVES; let i = index">
                    <label><input class="answer" type="checkbox" id="answer_{{question.QUESTION_ID}}_alt_{{i}}" name="answer_{{question.QUESTION_ID}}" value="[{{i}}]{{alternative}}"> {{alternative}}</label><br>
                  </div>
                  <div class="bonus-class" *ngIf="question.BONUS">
                    <p>{{question.BONUS}}</p>
                    <input class="input-text" type="text" name="answer_bonus{{question.QUESTION_ID}}">
                  </div>

              </ng-template>
            </mat-card>
          </div>


          <div class="quiz_buttons">
            <ng-template [ngIf]="first_exercise">
              <button (click)="decreaseExercise(first_exercise)" disabled>Atras</button>
            </ng-template>
            <ng-template [ngIf]="!first_exercise">
              <button (click)="decreaseExercise(first_exercise)">Atras</button>
            </ng-template>
            <ng-template [ngIf]="last_exercise">
              <button (click)="increaseExercise(last_exercise)" disabled>Siguiente</button>
            </ng-template>
            <ng-template [ngIf]="!last_exercise">
              <button (click)="increaseExercise(last_exercise)">Siguiente</button>
            </ng-template>
          </div>
          <div class="quiz_buttons">
            <button class="quiz_buttons" (click)="sendQuiz()">Enviar Formulario</button>
          </div>

        </ng-template>
      </div>
      <ng-template [ngIf]="exerciseActual == -1">
        <h6>Respuestas recibidas!</h6>
      </ng-template>

    </ng-template>
  </div>

  <!--<button (click)="sendQuizResponse('Atras')">Atras</button>
  <button (click)="sendQuizResponse('Enviar')">Enviar</button>
  <input type="submit" value="Enviar Cuestionario">-->
</form>

