
<p>Quiz: {{quizNumber}}</p>

<div *ngFor="let quiz of questions">
  <div *ngIf="quiz.QUIZ_ID == quizNumber">
    <h3>{{quiz.INSTRUCTIONS}}</h3>
    <div *ngFor="let exercise of quiz.EXERCISES">
      <p>Ejercicio {{exercise.EXERCISE_ID}}: {{exercise.INTRODUCTION}}</p>
      <div *ngFor="let question of exercise.QUESTIONS">
        <ng-template [ngIf]="question.QUESTION_TYPE == 1">
          <mat-card class="question-card">
            <form>
              <p>Pregunta {{question.QUESTION_NUM}}.</p>
              <p>Recurso: {{question.RESOURCE}}</p>
              <p>{{question.QUESTION}}</p>
              <input type="text">
            </form>
          </mat-card>
        </ng-template>
        <ng-template [ngIf]="question.QUESTION_TYPE == 2">
          <mat-card class="question-card">
            <form>
              <p>Pregunta {{question.QUESTION_NUM}}.</p>
              <p>Recurso: {{question.RESOURCE}}</p>
              <p>{{question.QUESTION}}</p>
            </form>
          </mat-card>
        </ng-template>
        <ng-template [ngIf]="question.QUESTION_TYPE == 3">
          <mat-card class="question-card">
            <form>
              <p>Pregunta {{question.QUESTION_NUM}}.</p>
              <p>Recurso: {{question.RESOURCE}}</p>
              <p>{{question.QUESTION}}</p>
            </form>
          </mat-card>
        </ng-template>
        <!--<div *ngFor="let alternative of question.ALTERNATIVES">
          <p>* {{alternative}}</p>
        </div>-->
      </div>
    </div>
  </div>
</div>


<button (click)="sendQuizResponse('Atras')">Atras</button>
<button (click)="sendQuizResponse('Enviar')">Enviar</button>



