<h2>Quiz: {{quizNumber}}</h2>

<div *ngFor="let quiz of questions">
  <div *ngIf="quiz.QUIZ_ID == quizNumber">
    <h3>{{quiz.INSTRUCTIONS}}</h3>
    <div *ngFor="let exercise of quiz.EXERCISES">
      <p>Ejercicio {{exercise.EXERCISE_ID}}: {{exercise.INTRODUCTION}}</p>
      <div *ngFor="let question of exercise.QUESTIONS">
        <p>Pregunta {{question.QUESTION_NUM}}.</p>
        <p>Tipo nº {{question.QUESTION_TYPE}}</p>
        <p>Recurso: {{question.RESOURCE}}</p>
        <p>{{question.QUESTION}}</p>
        <div *ngFor="let alternative of question.ALTERNATIVES">
          <p>* {{alternative}}</p>
        </div>
      </div>
    </div>
  </div>
</div>




<button (click)="sendQuizResponse()">Enviar</button>


