.error {
  color: red;
}
.menuItem:hover {
  list-style-type: none;
  background: linear-gradient(
    90deg,
    rgba(238, 227, 255, 1) 0%,
    rgba(245, 245, 245, 1) 100%
  );
  border-left: 9px solid #914dff;
  height: 50px;
  line-height: 50px;
  text-align: left;
  vertical-align: middle;
  display: block;
}

mat-card {
  padding-top: 0px;
  align-self: flex-start;
}
.banner {
  background: linear-gradient(
    90deg,
    rgba(238, 227, 255, 1) 0%,
    rgba(245, 245, 245, 1) 100%
  );
  height: 50px;
  margin-left: -16px;
  margin-right: -16px;
}
.creationButton {
  background: #914dff;
  border-color: #6c39be;
  text-align: center;
}

.warning {
  color: red;
  padding-left: 5px;
}

mat-card-subtitle {
  font-size: larger !important;
  vertical-align: baseline;
  padding-top: 15px;
  padding-bottom: 5px;
  border-bottom: 3px solid rgba(238, 227, 255, 1);
}

.quizPreview {
  min-height: 200px;
  margin-bottom: 10px;
}
mat-card-content {
  margin-top: 10px;
}

.card-footer {
  text-align: center;
}

.card-footer button {
  width: 200px;
}

.vistaQuiz {
  min-height: 400px;
}

.preguntas {
  border-top: solid 5px #914dff;
  min-height: 100px;
  background-color: #f8f9fa;
  border-radius: 5px;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  padding-left: auto;
  padding-right: auto;
}
.preguntas2 {
  min-height: 100px;
  background-color: white;
  border: #e0ceff solid 1px;
  padding: 10px;
  padding-top: 0px;
  border-radius: 5px;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  padding-left: auto;
  padding-right: auto;
  margin-top: -10px;
}

.infoBox1 {
  height: 90%;
  background-color: #914dff;
  text-align: center;
  color: white;
  display: inline-block;
  width: 250px;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}

.infoBox1 h1 {
  display: inline;
  text-align: center;
  font-size: large;
}

.infoBox1 button {
  position: absolute;
  bottom: 50px;
  width: 200px;
  margin-left: 5px;
}

.preguntaHeader {
  margin-top: 30px;
  background-color: #914dff;
  height: 50px;
  line-height: 50px;
  vertical-align: baseline;
  text-align: center;
  border-radius: 20px 20px 0px 0px;
  color: white;
  font-size: medium;
}
mat-form-field {
  width: 100%;
}

.selectVideo {
  width: 80%;
  margin: 15px;
}
mat-select {
  background-color: white !important;
}
.mat-form-field-type-mat-select:not(.mat-form-field-disabled)
  .mat-form-field-flex {
  background-color: white;
}

.crearEjercicio {
  padding-top: 30px;
  padding-right: 10%;
}

.tablaPreguntas {
  background: white;
}
.tablaPreguntas td {
  border-left: #914dff;
}

.form-check,
.form-group {
  font-size: large;
}

.form-check {
  margin-top: 10px;
}

.ingresarAlternativas {
  padding: 10px;
  background-color: white;
  border: solid 1px #914dff;
  margin-top: 10px;
  margin-bottom: 10px;
}

.accionesEjercicio {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 30px 0px 10px 0px;
}

.accionesQuiz {
  border-top: solid 5px #914dff;

  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 30px 0px 30px 0px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* para colocar los botones al fondo de mat-card */

.posicionRelativa {
  position: relative;
}

.card-footer-aux-video {
  border-top: none;
  position: relative;
  padding-left: 0px;
  text-align: left;
  background: transparent;
}

.contenedor-portada-video {
  max-width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
