<h2>Ver Etapas</h2>

<div class="row col-md-12">
  <div class="col-md-4" *ngFor="let stage of sortedStages; let index = index;">
    <br>
    <mat-card-header class="header-stage">
      <div class="  stages" >
        <mat-card-title class="{{getClass(stage.active, stage.type)}}">
          <div class="col-md-8" style="padding-top: 3%;">
            {{ "ADMIN.STAGES.TITLE" | translate }}: {{stage.title}}
          </div>
        </mat-card-title>
      </div>
    </mat-card-header>

    <mat-card-content>
      <div class=" stages-content">
        <div >
          <mat-card-subtitle>{{ "ADMIN.STAGES.TYPE" | translate }}: {{ stage.type }} </mat-card-subtitle>
        </div>

        <div>
          <mat-icon>format_list_numbered</mat-icon><span class="aligned-with-icon">{{ "ADMIN.STAGES.STEP" | translate }}: {{stage.step}}</span>
        </div>

        <div *ngIf="stage.active">
          <mat-icon >link</mat-icon><span class="aligned-with-icon"><a href="{{getLinkToTriviaStudy(stage.externalId)}}">{{ "ADMIN.STAGES.LINK" | translate }}: {{stage.externalName}}</a></span>
        </div>

        <div>
          <button  mat-raised-button color="primary" (click)="goToStage(stage)">Iniciar!</button>
        </div>
      </div>
    </mat-card-content>



  </div>
</div>
