
<div
  *ngIf = "modules && modules.length > 0; else noModules"
  class = "moduleList"
>
  
  <mat-card-title>
    {{flow.name}}
  </mat-card-title>

  <br>

  <table mat-table 
    [dataSource] = "modules" 
    class="mat-elevation-z4 tabla"
    multiTemplateDataRows  
  >
  
    <ng-container matColumnDef="NombreCol">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let module"> <strong> <mat-icon *ngIf="module.locked">lock</mat-icon> {{module.name}}</strong> </td>
    </ng-container>

    <ng-container matColumnDef="TipoCol">
      <th mat-header-cell *matHeaderCellDef> Completado </th>
      <td mat-cell *matCellDef="let module"> {{getCompleted(module)}}</td>
    </ng-container>

    <ng-container matColumnDef="DescriptionCol">
      <th mat-header-cell *matHeaderCellDef> Descripcion </th>
      <td mat-cell *matCellDef="let module"> 
        <mat-icon 
          class = "questionMark"
          (click)="openDialog($event, module)"
        >
          help_outline
        </mat-icon>
      </td>
    </ng-container>

    <!-- Expanded content column -->
    <ng-container matColumnDef="showStages">
      <td mat-cell *matCellDef="let module" [attr.colspan]="3">
        <show-stages
          class = "showStages"
          [@detailExpand]="module == selectedModule ? 'expanded' : 'collapsed'"
          [modulo] = "module"
          [sorted] = "flow.sorted"
          [progress] = "progress"
        >
        </show-stages>
      </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="columnHeader"></tr>
    <tr class="filaModulo"
      mat-row *matRowDef="let row; columns: columnHeader;"
      (click)="!row.locked && enClick($event, row)"
      [class.isBlocked]="row.locked"
      [class.mat-row-is-clicked]="selectedModule==row"
    ></tr>
    <tr mat-row *matRowDef="let fila; columns: ['showStages']" class="hidden"></tr>
  </table>
  <br>
</div>

<ng-template #noModules>
  <h1>No hay modulos</h1>
</ng-template>


<!-- BACKUP 6-11-21 -->
<!--
<ng-container>
  <mat-card>
-->
    <!--
    <mat-card class="mini-header">
      <div class="row col-md-12">
        <div class="row col-md-1">
          <button
              mat-raised-button color="basic"
              (click)="goToFlows()"
          >Volver</button>
      </div>
      <div class="row col-md-11">
          <h4>{{flow.name}}</h4>
      </div>
      </div>
    </mat-card>
    -->
    
    <!--
    <show-stages [modulo]="selectedModule" (eventoVolver)="displayStages()" *ngIf="mostrarEtapas"></show-stages>
    -->
<!--
    <mat-card class="modulos">
      <div class="row" *ngIf="modules.length > 0">

        <div class="col-md-8">
-->
        <!--  tabla a futuro cuando este bien implementado el tema del porcentaje
        <div class="continuar">
          <h2>Continuar</h2>
          <table mat-table [dataSource] = "modules" class="mat-elevation-z4">
          
            <ng-container matColumnDef="NombreCol">
              <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell *matCellDef="let stage"> {{stage.title}} </td>
            </ng-container>
            
            <ng-container matColumnDef="TipoCol">
              <th mat-header-cell *matHeaderCellDef> Tipo </th>
              <td mat-cell *matCellDef="let stage"> {{stage.type}} </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="columnHeader"></tr>
            <tr
              mat-row *matRowDef="let row; columns: columnHeader;"
              (click)="enClick(row)"
              [class.mat-row-is-clicked]="selectedModule==row"
            ></tr>

          </table>
        </div>
        -->
<!--
          <h2>Nuevo</h2>
          <table mat-table [dataSource] = "modules" class="mat-elevation-z4">
        
            <ng-container matColumnDef="NombreCol">
              <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell *matCellDef="let module"> {{module.name}} </td>
            </ng-container>
      
            <ng-container matColumnDef="TipoCol">
              <th mat-header-cell *matHeaderCellDef> Completado </th>
              <td mat-cell *matCellDef="let module"> {{getCompleted(module)}}</td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="columnHeader"></tr>
            <tr 
              mat-row *matRowDef="let row; columns: columnHeader;"
              (click)="enClick(row)"
              [class.mat-row-is-clicked]="selectedModule==row"
            ></tr>
          </table>
        </div>

        <div class="col-md-4">
          <h2>Selección</h2>
          <mat-card>
            <img mat-card-image *ngIf="selectedModule.image_url" [src]="selectedModule.image_url">
            <img mat-card-image *ngIf="!selectedModule.image_url" [src]="'../../../assets/flow-images/Flow00.jpg'">
            <mat-card-title>{{selectedModule.name}}</mat-card-title>	
            <mat-card-subtitle>Completado: 0</mat-card-subtitle>
            <mat-card-content>{{selectedModule.description}}</mat-card-content>
            <mat-card-actions>
              <button
                mat-raised-button color="primary"
                *ngIf = "selectedModule.stages.length > 0; else noEtapas"
                (click) = "goToStages()"
              >Iniciar!</button>
              <ng-template #noEtapas>
                <button mat-button disabled>No hay etapas</button>
              </ng-template>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </mat-card>

      <div 
        class="sinModulos" 
        style="
          justify-content: center;
          display: flex;"
        *ngIf=vacio
      >
        <h1>No hay módulos creados.</h1>
      </div>
  </mat-card>
</ng-container>
-->

<!--
  <div class="col-md-4" *ngFor="let stage of sortedStages; let index = index;">
    <br>
    <mat-card-header class="header-stage">
      <div class="  stages" >
        <mat-card-title class="{{getClass(stage.stage.active, stage.stage.type)}}">
          <div class="col-md-8" style="padding-top: 3%;">
            {{ "ADMIN.STAGES.TITLE" | translate }}: {{stage.stage.title}}
          </div>
        </mat-card-title>
      </div>
    </mat-card-header>

    <mat-card-content>
      <div class=" stages-content">
        <div >
          <mat-card-subtitle>{{ "ADMIN.STAGES.TYPE" | translate }}: {{ stage.stage.type }} </mat-card-subtitle>
        </div>

        <div>
          <mat-icon>format_list_numbered</mat-icon><span class="aligned-with-icon">{{ "ADMIN.STAGES.STEP" | translate }}: {{stage.stage.step}}</span>
        </div>

        <div *ngIf="stage.active">
          <mat-icon >link</mat-icon><span class="aligned-with-icon"><a href="{{getLinkToTriviaStudy(stage.stage.externalId)}}">{{ "ADMIN.STAGES.LINK" | translate }}: {{stage.stage.externalName}}</a></span>
        </div>
        <div>
          <mat-icon>timelapse</mat-icon><span class="aligned-with-icon">{{ "ADMIN.STAGES.PERCENTAGE" | translate }}: {{stage.percentage}}%</span>
        </div>
        <div class="buttons2">
          <button  mat-raised-button color="primary" (click)="goToStage(stage.stage)">Iniciar!</button>
          <button  mat-raised-button color="secondary" (click)="updateProgress(stage.stage.externalId)">Simular Complete!</button>
        </div>
      </div>
    </mat-card-content>



  </div>

-->