.contenedor{
    padding-top: 10px;
    padding-bottom: 10px;

    background-color: whitesmoke;
}

.noFlow {
    margin: auto;
    width: 0%;
    padding: 20px;
}

.flow-image {
    aspect-ratio: 16 / 9;
}

img{
    border-radius: 5px;
    max-height: 100%;
}
