<app-header></app-header>
<div  id="page-container">
	<div id="content-wrap">
	<mat-card class="flow-creation-card">
		<mat-card-header>
			<mat-card-title>{{ "FLOW.TITLE" | translate }}</mat-card-title>
			<mat-card-subtitle>{{ "FLOW.SUBTITLE" | translate }}:</mat-card-subtitle>
		</mat-card-header>	
		<mat-card-content>
			<form [formGroup]="flowForm">
				<mat-grid-list cols="12">
					<mat-grid-tile colspan="6">
						<mat-form-field>
							<mat-label>{{ "FLOW.FORM.FIELDS.NAME" | translate }}</mat-label>
							<input matInput formControlName="name" required #inputName maxlength="50">
							<mat-hint align="end">{{inputName.value?.length || 0}}/50</mat-hint>
							<mat-error *ngIf="flowFormControls.name.hasError('required')">
								{{ "ERRORS.REQUIRED" | translate }}
							</mat-error>
							<mat-error *ngIf="flowFormControls.name.hasError('minlength')">
								{{ "ERRORS.MIN_LENGTH_3" | translate }}
							</mat-error>
							<mat-error *ngIf="flowFormControls.name.hasError('maxlength')">
								{{ "ERRORS.MAX_LENGTH_50" | translate }}
							</mat-error>												
						</mat-form-field>
					</mat-grid-tile>
					<mat-grid-tile colspan="6">
						<mat-form-field>						
							<mat-label>{{ "FLOW.FORM.FIELDS.DESCRIPTION" | translate }}</mat-label>
							<input matInput formControlName="description" required #inputDescription maxlength="250" ng-required="true">
							<mat-hint align="end">{{inputDescription.value?.length || 0}}/250</mat-hint>
							<mat-error *ngIf="flowFormControls.description.hasError('required')">
								{{ "ERRORS.REQUIRED" | translate }}
							</mat-error>						
							<mat-error *ngIf="flowFormControls.description.hasError('minlength')">
								{{ "ERRORS.MIN_LENGTH_3" | translate }}
							</mat-error>
							<mat-error *ngIf="flowFormControls.description.hasError('maxlength')">
								{{ "ERRORS.MAX_LENGTH_250" | translate }}
							</mat-error>							
						</mat-form-field>
					</mat-grid-tile>
					<mat-grid-tile colspan="2">
						<mat-card-header>
							<mat-card-subtitle style="margin-bottom: 5%;">{{ "FLOW.FORM.FIELDS.TYPE" | translate }}:</mat-card-subtitle>
						</mat-card-header>
					</mat-grid-tile>
					<mat-grid-tile colspan="4">
						<mat-radio-group required formControlName="sorted" class="radioButtons">
							<mat-radio-button [value]="true">
								{{'Ordenado'}}
							</mat-radio-button>
							<mat-radio-button [value]="false">
								{{'Acceso libre'}}
							</mat-radio-button>							
						</mat-radio-group>
					</mat-grid-tile>
					<mat-grid-tile colspan="6">
						<mat-form-field>
							<!--mat-label>{{ "ADMIN.CHALLENGES.HOURS" | translate }}</mat-label-->
							<mat-label>Idioma *</mat-label>
							<mat-select formControlName="language">
								<mat-option *ngFor="let leng of languages" [value]="leng._id"> {{ leng.name }} </mat-option>
							</mat-select>
							<mat-error *ngIf="flowFormControls.language.hasError('required')">
								{{ "ERRORS.REQUIRED" | translate }}
							</mat-error>
						</mat-form-field>
					</mat-grid-tile>
					<mat-grid-tile colspan="6">
						<mat-form-field>
							<mat-label>Nivel *</mat-label>
							<mat-select formControlName="levels" multiple>
								<mat-option *ngFor="let level of levels" [value]="level">{{level}}</mat-option>
							</mat-select>
							<mat-error *ngIf="flowFormControls.levels.hasError('required')">
								{{ "ERRORS.REQUIRED" | translate }}
							</mat-error>
						</mat-form-field>
					</mat-grid-tile>
					<mat-grid-tile colspan="6">
						<mat-form-field>
							<mat-label>Competencia *</mat-label>
							<mat-select formControlName="competences" multiple>
								<mat-option *ngFor="let competence of competences" [value]="competence._id">{{competence.name}}</mat-option>
							</mat-select>
							<mat-error *ngIf="flowFormControls.competences.hasError('required')">
								{{ "ERRORS.REQUIRED" | translate }}
							</mat-error>
						</mat-form-field>
					</mat-grid-tile>
					
				</mat-grid-list>
				<mat-card-header>
					<mat-card-subtitle style="margin-bottom: 0%;">Seleccione las opciones de colaboración de su estudio</mat-card-subtitle>
				</mat-card-header>
				<mat-grid-list cols="12">
					<mat-grid-tile colspan="6">
						<mat-form-field>
							<!--mat-label>{{ "ADMIN.CHALLENGES.HOURS" | translate }}</mat-label-->
							<mat-label>Privacidad *</mat-label>
							<mat-select formControlName="privacy">
								<mat-option *ngFor="let priva of privacies" [value]="priva.value"> {{ priva.privacy }} </mat-option>
							</mat-select>
							<mat-error *ngIf="flowFormControls.privacy.hasError('required')">
								{{ "ERRORS.REQUIRED" | translate }}
							</mat-error>
						</mat-form-field>
					</mat-grid-tile>
				<mat-grid-tile colspan="6">
					<mat-slide-toggle (change)="changeStatus($event)" color="primary">Agregar colaboradores al estudio</mat-slide-toggle>
				</mat-grid-tile>
			</mat-grid-list>

			<mat-grid-list *ngIf="collaborator_status" cols="12" rowspan="2">
				<mat-grid-tile colspan="10">
					<mat-form-field style="width: 92%;">
						<mat-label>Agregar Colaboradores</mat-label>
						<mat-chip-list #chipListColl aria-label="Collaborators Selection" formControlName="collaborators">
							<mat-chip
								*ngFor="let collaborator of collaborators_selected"
								(removed)="removeCollaborator(collaborator)">
								{{collaborator.email}}
									<mat-icon matChipRemove>cancel</mat-icon>
							</mat-chip>
						<input
							#collaboratorsInput
							placeholder="Escriba el correo y presione Enter o Añadir para agregarlo"
							type="email" 
							formControlName="collaborators"
							[matChipInputFor]="chipListColl"
							(matChipInputTokenEnd)="verifyCollaborator()">
						</mat-chip-list>
						<mat-error *ngIf="flowFormControls.collaborators.hasError('email')">
							Ingrese un email válido
						</mat-error>
						<mat-error *ngIf="flowFormControls.collaborators.hasError('notThisUser')">
							El usuario que creó el estudio no puede añadirse como colaborador
						</mat-error>
					</mat-form-field>
				</mat-grid-tile>
				<mat-grid-tile colspan="2">
					<button mat-flat-button (click)="verifyCollaborator()" class="addButton">Añadir <mat-icon>add</mat-icon></button>
				</mat-grid-tile>
			</mat-grid-list>

			<mat-card-header>
				<mat-card-subtitle style="margin-bottom: 0%;">Añada etiquetas relacionadas a su estudio</mat-card-subtitle>
			</mat-card-header>
			<mat-grid-list  cols="12">
				<mat-grid-tile colspan="10">
					<mat-form-field style="width: 92%;">
						<mat-label>Agregar Etiquetas</mat-label>
						<mat-chip-list #chipListTags aria-label="Tags Selection" formControlName="tags">
							<mat-chip
								*ngFor="let tag of tags"
								(removed)="removeTag(tag)">
								{{tag}}
									<mat-icon matChipRemove>cancel</mat-icon>
							</mat-chip>
						<input
							#tagsInput
							placeholder="Escriba una etiqueta y presione Enter o Añadir para añadirla"
							type="text" 
							formControlName="tags"
							[matChipInputFor]="chipListTags"
							(matChipInputTokenEnd)="addTag()">
						</mat-chip-list>
						<mat-error *ngIf="flowFormControls.tags.hasError('minlength')">
							Ingrese una etiqueta válida
						</mat-error>
						<mat-error *ngIf="flowFormControls.tags.hasError('maxlength')">
							La etiqueta no puede tener más de 15 caracteres
						</mat-error>
						<mat-error *ngIf="flowFormControls.tags.hasError('tagExist')">
							La etiqueta ya se encuentra en la lista
						</mat-error>
					</mat-form-field>
				</mat-grid-tile>
				<mat-grid-tile colspan="2">
					<button mat-flat-button (click)="addTag()" class="addButton">Añadir <mat-icon>add</mat-icon></button>
				</mat-grid-tile>
			</mat-grid-list>
					
			</form>	
			<mat-card-header>
				<mat-card-subtitle style="margin-bottom: 0%;">{{ "FLOW.FORM.FIELDS.IMAGE" | translate }}:</mat-card-subtitle>
			</mat-card-header>
			<mat-grid-list cols="12">
				<mat-grid-tile colspan="6">
					<input type="file"
						id="file"
						(change)="handleFileInput($event.target.files)">

				</mat-grid-tile>
			</mat-grid-list>	

		</mat-card-content>		
		<mat-card-actions class="cardActions" *ngIf="!loading; else elseBlock">
			<button mat-raised-button class="saveButton" [disabled]="!flowForm.valid" (click)="createFlow()">
				{{ "BUTTONS.SAVE" | translate }}
			</button>
			<button mat-raised-button class="clearButton" (click)="resetForm()">
				{{ "BUTTONS.CLEAR" | translate }}
			</button>
		</mat-card-actions>	
		<ng-template #elseBlock>
			<div class="spinnerCard">
				<mat-progress-spinner color="primary" mode="indeterminate" class="mb-4">
				</mat-progress-spinner>
				<span>
					{{ "ADMIN.FLOWS.LOADING" | translate }}
				</span>
			</div>
		</ng-template>	
	</mat-card>
	</div>
  <app-footer></app-footer>
</div>