<app-header></app-header>

<div id="page-container">
  <div id="content-wrap">
    <mat-card class="flows-display-card">
      <div >
        <app-search-bar></app-search-bar>
      </div>
    </mat-card>
    <div *ngIf="flowSelected; else elseBlock" >
      <router-outlet></router-outlet>
    </div>
    <ng-template #elseBlock>
      <div class="main-content">
        <div>
          <app-flows-display (flowSelected)="flowSelectedHandler($event)"> </app-flows-display>
        </div>
      </div>
    </ng-template>
  </div>
  <app-footer></app-footer>
</div>